.contacts
  padding-top: 70px
  padding-bottom: 70px
  background-color: $grey

  &__container
    display: flex
    justify-content: space-between
    gap: 50px
    @include mediaNotebook
      flex-wrap: wrap
      flex-direction: column
      align-items: flex-start

  &__logo
    max-width: 270px
    @include mediaNotebook
      max-width: 210px

    @include mediaPhone
      max-width: 100%
      width: 100%
    & img
      margin-bottom: 10px
      @include mediaNotebook
        max-width: 180px
    span
      font-style: italic
      @include mediaNotebook
        font-size: 14px
  &__certificat
    // margin-left: auto
    // margin-right: 124px
    @include mediaTablet
      margin-right: 0
      margin-left: 0
  &__head
    font-size: 22px
    margin-bottom: 20px
    text-transform: capitalize
    color: $text
    padding-left: 0
    &::before
      content: none
  &__imgs
    display: grid
    gap: 24px
    grid-template: repeat(2, 1fr) / repeat(3, 1fr)
    @include mediaPhoneMid
      grid-template: repeat(2, 1fr) / repeat(2, 1fr)
    img
      max-width: 150px
      // width: 100%
      height: auto
      object-fit: contain
      &:nth-child(1)
        grid-row: span 2
        grid-column: 1 / 2
      &:nth-child(2)
        grid-row: span 2
        grid-column: 2 / 3

  &__data
    // margin-right: 120px
    // @include mediaTablet
    //   margin-right: 0
    flex-shrink: 1
  &__item
    display: flex
    gap: 8px
    &:not(:last-child)
      margin-bottom: 15px
    @media (any-hover: hover) and (pointer: fine)
      &:hover
        .contacts__name
          color: $red
        .contacts__svg
          stroke: $red
    &--shedule
      &:hover
        .contacts__name
          color: $text
        .contacts__svg
          stroke: $text

  &__btn
    background-color: $red
    color: $white
    width: 100%
  &__svg
    width: 100%
    height: 100%
    stroke: $text
    // fill: $text
    transition: stroke 0.3s ease-in
  &__icon
    width: 26px
    height: 26px
    margin-right: 2px
  &__name
    color: $text
    transition: color 0.3s ease-in
    &-wrap
      display: flex
      align-items: center
      justify-content: space-between
      dd
        margin-left: 10px

