.hero
  --height: 530px
  // --bgHero: #031217

  position: relative
  // height: 100vh
  min-height: var(--height)
  // overflow: hidden
  // &::before
  //   content: ''
  //   position: absolute
  //   top: 0
  //   left: 0
  //   width: 100%
  //   height: 100%
  //   background: $gradient-dark
  //   z-index: 1
  @include mediaPhone
    --height: 600px
    height: var(--height)

  // &__clip
  //   position: absolute
  //   top: 0
  //   bottom: 0
  //   left: 0
  //   height: var(--height)
  //   width: 100%
  //   filter: blur(0px)
  //   background: url('../images/bg/hero.jpg') no-repeat center / cover
  // &__video
  //   min-width: 100%
  //   min-height: 100%
  //   width: auto
  //   height: auto
  //   object-fit: cover

  &__container
    position: relative
    display: flex
    gap: 30px
    // display: flex
    // justify-content: center
    // height: 100%
    // flex-direction: column
    // z-index: 2

  &__slider
    width: 100%
    height: var(--height)
  &__slider-wrap
  &__slide
    background-color: var(--bgHero)
    transition: background-color 0.3s ease

  &__text
    max-width: 530px
    padding-left: 53px
    padding-top: 100px

    color: $white
  &__head
    font-size: 56px
    margin-bottom: 20px
    text-transform: uppercase
  &__descr
    & p:not(:last-child)
      margin-bottom: 7px

  &__img
    width: 100%
    padding-bottom: 530px
    img
      object-fit: contain
  &__pagination
    & span
      background-color: #fff
      width: 10px
      height: 10px
      opacity: 1
    & .swiper-pagination-bullet-active
      background-color: $red
