.numbers
  // padding-top: var(--sectionPaddingTop)
  // padding-bottom: var(--sectionPaddingBottom)

  &-container
    display: flex
    gap: 30px
  //   margin: 0 auto
  //   padding-right: 15px
  //   max-width: 1360px
  //   width: 100%
  //   display: flex
  //   gap: 30px
  //   position: relative
  //   left: 50%
  //   transform: translateX(-50%)

  &__img
    padding-bottom: 678px
    width: 100%
  &__info
    max-width: 650px
    display: flex
    flex-direction: column
    justify-content: center
  &__head
    margin-bottom: 30px
  &__text
    margin-bottom: 70px
  &__list
    display: flex
    justify-content: space-between
    align-items: flex-end
  &__item
  &__icon
    width: 86px
    height: 86px
    margin: 0 auto
    margin-bottom: 15px
    img
      margin: 0 auto
  &__count
    text-align: center
    font-weight: 700
    font-size: 28px
    color: $red
    font-family: $font-first
  &__name
    text-align: center
    font-weight: 700
    font-size: 28px
    font-family: $font-first
